.DS_Store

# Nvim ignores
**/*/lazy-lock.json
**/*/lazyvim.json

# TMP ignores
tmux/.config/tmux/*
!tmux/.config/tmux/tmux.conf

# Zed ignores
zed/.config/zed/*
!zed/.config/zed/settings.json

# Kitty ignores
kitty/.config/kitty/*
!kitty/.config/kitty/current-theme.conf
!kitty/.config/kitty/kitty.conf
